---
import LineaTempItem from "./LineaTempItem.astro";

const EXPERIENCIE = [
  {
    date: "Junio 2024 - Julio 2024",
    title: "Junior Full Stack Web Developer - Kakeibo",
    description:[ "Desarollo de una app bancaria para el ahorro, parte Frontend y Backend. Uilizando React, Node.js, Bootstrap y MySQL. Las librerías más destacables de NPM usadas en este proyecto son:", " · Jsonwebtoken para transmitir información segura entre distintas partes utilizando objetos JSON.", "· Bycrypt para mejorar la seguridad del almacenamiento de contraseñas en un sistema."," · Dotenv permite gestionar variables de entorno desde archivos .env.","· Nodemailer permite enviar correos electrónicos desde un servidor."],
  },
  {
    date: "Enero 2024 - Junio 2024",
    title: "Junior Full Stack Web Developer - Socratech",
    description:[ "Formación práctica con proyectos reales como Full Stack Web Developer. Con lenguajes como HTML, CSS, JavaScript y SQL. Utilizando herramientas como GitHub, Trello y Figma. Y frameworks como React, NodeJS y Bootstrap. Siempre basado en metodologías ágiles, buenas prácticas y código limpio."],
  },
  {
    date: "Noviembre 2023 - Enero 2024",
    title: "Vendedor - MediaMarkt",
    description: ["Reposición de productos en los lineales, mantenimiento del orden del establecimiento, stock y gestión de almacén, venta y asesoramiento al cliente."],
  },
  {
    date: "Enero 2023 - Marzo 2023",
    title: "Mozo de almacén - Primor",
    description: ["Preparación de pedidos, reposición de productos."],
  },
  {
    date: "Noviembre 2021 - Noviembre 2022",
    title: "Técnico informático - CSMI",
    description: 
    ["Reparación y reacondicionamiento de portátiles y equipos de sobremesa, Montaje e instalación de equipos, Instalación de paquetes ofimáticos y Sistemas Operativos, Solución de problemas a usuarios de forma remota."],
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCIE.map(experiencie =>  (
      <li class="mb-10 ms-4">
        <LineaTempItem {...experiencie} />
      </li>
    ))
  }
</ol>
