<footer class="rounded-lg shadow-sm m-4 bg-black backdrop-blur-lg w-full xl:w-[1120px] mx-auto">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-col items-center md:flex-row md:items-center md:justify-between">
    <!-- Texto con el copyright -->
    <span class="text-sm sm:text-center text-green-300/90 mb-4 md:mb-0">
      © 2025 
      <a href="https://www.linkedin.com/in/jose-manuel-rodriguez-carrasco/" class="hover:underline">
        Jose Manuel Rodriguez™
      </a>
      . Algunos derechos reservados. (Pero contactar conmigo es gratis)
    </span>

    <!-- Enlaces de "Sobre mí" y "Contacto" centrados -->
    <ul class="flex items-center text-sm font-medium text-white/90 sm:mt-0 mt-3">
      <li class="mr-4">
        <a href="#" class="hover:underline text-purple-300/90">Sobre mí</a>
      </li>
      <li>
        <a href="#" class="hover:underline text-purple-300/90">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
